body{
  /*Santhosh codes here*/


  /*Stephen codes here*/
}

/*Santhosh codes here*/

.testBox{
  border: 1px solid #000;
}
header{
  background-color: #12a8fd;
}

.logoBox {
  border: 1px solid #000;
  width: 80%;
  margin: 5% 0% 5% 20%;
  text-align: center;
}

.socialIcons{
  margin: 7% 10% 5% 0%;
  padding: 5% 0% 5% 0%;
}

.socialIcons span{
  margin-left: 10%;
}

.socialIcons span i{
  font-size: 20px;
  color:#120ea5;
  cursor: pointer;
}
.socialIcons span i:hover{
  color:#1ddffe;
}
.bigImage{
  background-image: url('./assets/bigImage.jpg');
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.arrow{
  position: relative;
  left: 50%;
  bottom: 55px;
}

.arrow i{
  font-size: 25px;
}

/*Stephen codes here*/
.scrollText{
  min-height: 500px;
}

.posAb {
  position: relative;
}

footer{

}
